#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Manage VMs
GenericName=Manage VMs
X-GNOME-FullName=Manage VMs
Exec=/usr/local/lib/rht-vmctl.zenity
Terminal=false
Icon=virt-manager
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Education;
Name[en_US]=Manage VMs
