#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Course Slides
GenericName=Course Slides
X-GNOME-FullName=Course Slides
Exec=/usr/bin/firefox http://foundation0.ilt.example.com/slides
Terminal=false
Icon=firefox
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Education;
Name[en_US]=Course Slides
