#!/usr/bin/env xdg-open
[Desktop Entry]
Name=VM bastion Console
GenericName=VM bastion Console
X-GNOME-FullName=VM bastion Console
Exec=rht-vmview --gui viewstart bastion
Terminal=false
Icon=virt-viewer
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Education;
Name[en_US]=VM bastion Console
