#!/usr/bin/env xdg-open
[Desktop Entry]
Name=VM serverf Console
GenericName=VM serverf Console
X-GNOME-FullName=VM serverf Console
Exec=rht-vmview --gui viewstart serverf
Terminal=false
Icon=virt-viewer
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Education;
Name[en_US]=VM serverf Console
