#!/usr/bin/env xdg-open
[Desktop Entry]
Name=VM utility Console
GenericName=VM utility Console
X-GNOME-FullName=VM utility Console
Exec=rht-vmview --gui viewstart utility
Terminal=false
Icon=virt-viewer
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Education;
Name[en_US]=VM utility Console
