#!/usr/bin/env xdg-open
[Desktop Entry]
Name=VM tower Console
GenericName=VM tower Console
X-GNOME-FullName=VM tower Console
Exec=rht-vmview --gui viewstart tower
Terminal=false
Icon=virt-viewer
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Education;
Name[en_US]=VM tower Console
